:root {

}

header {
  background-color:#12173F;
  padding: 10px;
  border-bottom: 5px solid #F5B112;
}

.header-logo {
  width: 5%;
  height: 5%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding-right: 30px;
}

.menu a {
  text-decoration: none;
  color: #F5B112;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  display: none;
}

#toggle {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  padding-left: 30px;

}

label {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

label:focus {
  outline: none;
}

@media screen and (max-width: 768px) {

  .header-logo {
    justify-content: space-between;
    height: 10%;
    width: 10%;
  }

  label {
    display: block;
    cursor: pointer;
  }
  .menu {
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    float: right;
  }
#toggle:checked + .menu {
  display: block;
}


}

/* End media query*/

h1 {
  color: #12173F;
}

p.aboutContent {
  background-color: rgba(190,212,233, 0.3);
  padding: 20px;
}


body {
  background-color: #5D76A9;
  color: #12173F;
}

container {
  display: inline;
}

div.background-image {
  background-image: url("https://www.nba.com/grizzlies/sites/grizzlies/files/confetti-ex-white-bg.jpg");
  height: 100%;
  background-attachment: fixed;
}

div.player {
  display: inline-block;
  padding: 10px 20px 0px 20px;
  margin: 10px 10px 10px 10px;
  background-color: #F5B112;
  border-radius: 15px;
}

img {
  border-radius: 15px;
}

p.player-name {
  text-align: center;
}

a {
  color: white;
}

footer {
  color: white;
  background-color:  #12173F;
  border-top-style: solid;
  border-top: #F5B112;
  padding: 20px;
}


/*
@media (prefers-color-scheme: dark) {

  body {
    background-color: #12173F;
  }
}
*/
