header {
  background-color:#12173F;
  padding: 10px;
  border-bottom: 5px solid #F5B112;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.header-logo {
  width: 90px;
}

.nav {
  display: block;
  align-items: flex-end;
  justify-content: space-between;
}

.menu {
  display: flex;
  padding-right: 30px;
  float: right;
  align-items: flex-end;
}

.menu a {
  text-decoration: none;
  color: #F5B112;
}


ul {
  list-style-type: none;
}

li {
  padding-left: 30px;
}

#toggle {
  display: none;
}

label {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 30px;
  cursor: pointer;
  display: none;
  
  font-size: 26px;
  display: none;
}

label:focus {
  outline: none;
}

.btn-toggle {
  position: relative;
  left: 35px;
  color: #F5B112;
}

@media screen and (max-width: 768px) {

  label {
    display: block;
    cursor: pointer;
    float: right;
  }
  .menu {
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    text-align: right;
    width: 100%;
    margin: 0;
    padding: 10px 0 10px 0;
    float: right;
  }

  #toggle:checked + .menu {
    display: block;
  }

}
 /* End media query */

h1 {
  color: #12173F;
}

.aboutContent {
  background-color: rgba(190,212,233, 0.3);
  padding: 20px;
  border-radius: 15px;
}


body {
  color: #12173F;
}

.background-image {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/01/14/227224/d9d4515408d846a32e79ed396596b0d9.jpg");
  background-attachment: fixed;
  box-shadow:inset 0 0 0 2000px rgba(255,255,255,0.80);
}

container {
  display: inline;
}

.player {
  display: inline-block;
  padding: 10px 20px 0px 20px;
  margin: 10px 10px 10px 10px;
  background-color: #F5B112;
  border-radius: 15px;
  border-bottom: 5px solid #12173F;
}

.player img {
  border-radius: 15px;
  border-bottom: 5px solid #12173F;
}

p.player-name {
  text-align: center;
}

a {
  color: white;
}

footer {
  color: white;
  background-color:  #12173F;
  border-top-style: solid;
  border-top: #F5B112;
  padding: 20px;
}

.email-container h1 {
  color: white;
}

.email-container {
  margin: 70px auto 50px auto;
  width: 60%;
  text-align: center;
  background-color: #12173F;
  border-radius: 15px;
  padding: 20px;
  transition: all 2s ease-in-out;
}


.form-control {
  border: none;
  color: #F5B112;
  background: transparent;
  border-bottom: thin solid #F5B112; 
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 0px;
}

input[type=text] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-bottom: 1px solid #F5B112;  
  margin-left: auto;
  margin-right: auto;
}

#text-area {
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #F5B112;  
  margin-left: auto;
  margin-right: auto;
}

.email-container h1:after {
  border-bottom: thin solid #F5B112;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

form .submit {
  color: #12173F;
  font-size: large;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #F5B112;
}

form .submit:hover {
  background-color: rgba(190,212,233, 0.3);
  cursor: pointer;
  color: white;
}



/* DARK MODE */
@media (prefers-color-scheme: dark) {

  body {
    background-color: #000;
  }
  
  .aboutContent {
    background-color: #707271;
    color: white;
  }

  .player {
    background-color: #12173F;
    color: white;
    border-bottom: 5px solid #F5B112;
  }

  .menu a {
    color: white;
  }

  .player img {
    border-bottom: 5px solid #F5B112;
  }
}


body.dark-theme {
  background-color: #000;
}

body.dark-theme .aboutContent {
  background-color: #707271;
}

body.dark-theme .player {
  background-color: #12173F;
  color: white;
  border-bottom: 5px solid #F5B112;
}

body.dark-theme h1 {
  color: #707271;
}

body.dark-theme h2 {
  color: #707271;
}

body.dark-theme p {
  color: white;
}

body.dark-theme .background-image {
  background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/01/14/227224/d9d4515408d846a32e79ed396596b0d9.jpg");
  background-attachment: fixed;
  box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.80);
}
/* END DARK MODE */
